body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lavender;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

.token-row {
  border: 3px solid black;
}

.cell {
  width: 100px;
  height: 100px;
  border-left: 3px solid black;
  border-right: 3px solid black;
  position: relative;
  background-color: grey;
}

#button-row td {
  background-color: lavender;
  border: none;
}

.token {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.button-cell {
  width: 100px;
  height: 100px;
  position: relative;
}

.token-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: darkgreen;
  border-radius: 50%;
}

.button-number {
  color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
}

.quiz-card {
  width: 220px;
  height: 100px;
  background-color: darkgreen;
  color: whitesmoke;
  /* top: 5px; */
  border: 5px solid black;
  font-weight: bold;
  font-size: 35px;
  margin-top: 5px;
}

#cards-container {
  margin-right: 20px;
}

.muppets-li {
  width: 300px;
  font-weight: bold;
}

#muppets-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2%;
}

/* needs better centering */
#home-card {
  width: 700px;
  margin-left: 20%;
  margin-top: 5%;
  color: whitesmoke;
  font-weight: bold;
  font-size: 50px;
}

#side-panel {
  height: 800px;
  font-size: 25px;
}

.dark-green {
  background-color: darkgreen;
}

.white-smoke {
  background-color: whitesmoke;
  color: darkgreen;
  font-weight: bold;
}

.selector-title {
  color: whitesmoke;
  font-weight: bold;
}

#profile-pic {
  height: 200px;
  width: 200px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#game-logs-panel {
  background-color: darkgreen;
  color: whitesmoke;
  font-weight: bold;
}

.extra-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.three-percent {
  margin-top: 3%;
}

#button-div {
  margin-top: 50px;
}

.number {
  font-size: 20px;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#play-game-button {
  margin-top: 3%;
  margin-bottom: 3%;
}

#timer {
  font-size: 35px;
  font-weight: bold;
}

#header {
  font-size: 45px;
  font-weight: bold;
}